$snow: #fafbfb;
$orange: #fe5722;
$grey-font:#5a5a5a;
$border: #dedede;
$border-radius: 5px;
$box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.09);

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-weight: 500;
}

#header1, #header2, #header3 {
    padding-right: 5%;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    h1 {
        color: $orange;
        font-weight: 800;
        padding-left: 5%;
        flex: 1;
        margin-left: auto;
    }
}

#wrapper {
    display: flex;
    height: 91.55vh;
}

#filter-form {
    height: auto;
    padding: 10px;
    background-color: #ecf0f1;
    display: flex;
    align-self: bottom;
    justify-content: center;
    border-top: .5px solid $border;
    border-left: .5px solid $border;
    border-right: .5px solid $border;
    border-radius: 5px 5px 0px 0px;
    box-shadow: $box-shadow;
}
#filter-form > * {
    align-self: flex-end
} 
#right-container {
    flex: 3;
    padding: 20px;
    background-color: $snow;
    overflow: auto;
}

#left-container {
    flex: 2;
    background-color: $snow;
    padding: 20px;
    overflow:auto;
}

#post-form-header {
    background-color: #ecf0f1;
    padding: 15px;
    border: .5px solid $border;
    border-radius: 5px 5px 0px 0px;
    box-shadow: $box-shadow;
    h3 {
        font-size: 15px; 
    }
}

#post-form {
    background-color: white;
    padding: 20px;
    border: .5px solid $border;
    border-radius: 0px 0px 5px 5px;
    box-shadow: $box-shadow;
    #ff-rev, #ff-rec, #ff-dd {
        margin-bottom: 15px;
    }
}


#feed-container {
    padding: 5px;
    background-color: white;
    padding: 20px;
    border: .5px solid $border;
    border-radius: 0px 0x 5px 5px;
    box-shadow: $box-shadow;
}

.feed-item {
    color: $grey-font;
    margin-bottom: 10px;
    padding: 15px;
    border: .5px solid $border;
    border-radius: $border-radius;
    &:hover {
        background-color: $snow;
   }
}

.feed-item-top-container {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.feed-item-prop {
    padding: 5px;
}

.center {
    display: table;
    margin: auto;
}

.review-text-box {
    padding: 20px;
    border: 1px solid grey;
}



#user-dashboard {
    background-color: white;
    padding: 15px;
    height: 100px;
    border: .5px solid $border;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

#friends-container {
    background-color: white;
    padding: 15px;
    margin: 10px 0px;
    height: 100px;
    border: .5px solid $border;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}